<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NATIVE-AUDIO - Background Audio App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Native audio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="row">
      <div class="col">
        <ion-button [disabled]="isInitializated" (click)="start()">LOCAL</ion-button>
        <ion-button [disabled]="isInitializated" (click)="startRemote()">REMOTE</ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-button [disabled]="!isInitializated || isStarted" (click)="play()">START</ion-button>
        <ion-button [disabled]="!isInitializated || !isStarted || isPlaying" (click)="resume()">PLAY</ion-button>
        <ion-button [disabled]="!isInitializated || !isStarted || !isPlaying" (click)="pause()">PAUSE</ion-button>
        <ion-button [disabled]="!isInitializated || !isStarted" (click)="stop()">STOP</ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-button [disabled]="!isInitializated" (click)="volumeUp()">VOLUME +</ion-button>
        <ion-button [disabled]="!isInitializated" (click)="volumeDown()">VOLUME -</ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-button [disabled]="!isInitializated" (click)="skipForward()"> + {{this.skipTime}} </ion-button>
        <ion-button [disabled]="!isInitializated" (click)="skipBackward()"> - {{this.skipTime}} </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          CURRENT TIME: {{this.elapsed}}
        </div>
      </div>
    </div>

  </div>
</ion-content>
